.aider*
.api.secrets
.DS_Store
.env*
.vscode

node_modules/
**/node_modules/**
**/dist/**

__pycache__
static
**.sqlite3
hub/rabbitmq/data/**
hub/rabbitmq/log/**
media/

**/avatar/**
celerybeat*
.coverage
