.aider*
.api.secrets
.DS_Store
.env*
.vscode

node_modules/
**/coverage/**
**/dist/**
**/node_modules/**

__pycache__
static
**.sqlite3
hub/rabbitmq/data/**
hub/rabbitmq/log/**
media/

**/avatar/**
celerybeat*
.coverage
