black-with-tabs
channels
channels-redis
cryptography
daphne
Django
django-cors-headers
django-filter
djangorestframework
drf-standardized-errors
httpx
psycopg2-binary
gunicorn
pyhumps
pylint
pylint-django
redis
requests
